
<div class="page-top-section col-12" id="about-page-background">
  <div class="about-section col-4">
    <img />
  </div>
    <div class="about-section col-4">
      <h1><span>ABOUT ME</span></h1>
    </div>
    <div class="about-section col-4">
      <p>
        Lorem....
      </p>
    </div>
</div>
<div class="page-content-section col-12">
  <h2>Hi! I'm Kimberly and I'd love to build your Website.</h2>
</div>
