<div class="curtain-wrapper">
  <h1 class="curtain">Your next website starts here.</h1>
    <div class="curtain-section section-left"></div>
    <div class="curtain-section section-right"></div>
</div>

<%= render "about" %>
