  <section class="page-top-section col-12" id="project-page-background">
    <h1><span>PROJECTS</span></h1>
  </section>

    <div class="project-card-row">
      <div class="project-card col-4">
          <h1>Sumon</h1>
          <p>
            HTML, CSS, JavaScript, jQuery
          </p>
          <a>Github</a>
          <a>Live</a>
      </div>
      <div class="project-card col-4">
          <h1>My Story Books</h1>
          <p>
            HTML, CSS, JavaScript, jQuery
          </p>
          <a>Github</a>
          <a>Live</a>
      </div>
      <div class="project-card col-4">
          <h1>Movies: Rails</h1>
          <p>
            HTML, CSS, JavaScript, jQuery
          </p>
          <a>Github</a>
          <a>Live</a>
      </div>
    </div>
    <!-- <div class="project-card-row">
      <div class="project-card col-4">
          <h1>Card</h1>
          <p>
            stuff.....
          </p>
      </div>
      <div class="project-card col-4">
          <h1>Card</h1>
          <p>
            stuff.....
          </p>
      </div>
      <div class="project-card col-4">
          <h1>Card</h1>
          <p>
            stuff.....
          </p>
      </div> -->
    </div>
