<div class="page-top-section col-12" id="resume-page-background">
  <h1><%= link_to "Download PDF", asset_path("Kimberly-Wondoloski-resume-RoR.pdf", target: :_blank) %></h1>
</div>
<div class="page-content-section col-12" id="resume-page-background">
  <%= image_tag("Kimberly-Wondoloski-resume-RoR.jpg")%>
</div>
