/*NAVIGATION*/


.header {
  // height: 500px;
  // position: relative;
}
.navbar {
  height: 95px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid blue;
  margin-top: 20px;
  // background-color: rgba(255, 255, 255, 0.4);
  z-index: 999;
}

.navbar-link {
  color: black;
  text-decoration: none;
  line-height: 95px;
  vertical-align: middle;
  margin: auto 30px auto 30px;
  font-size: 14px;
  font-weight: bolder;
}
.navbar-link:hover {
  color: #EDAF2C;
}

#navbar-logo {
  font-size: 26px;
  border-style: solid none solid none;
  border-style: dashed solid dashed solid;
  border-color: black;
  padding: 5px;
  vertical-align: middle;
  font-family: 'Raleway', sans-serif;
}

#navbar-title {
  font-size: 26px;
  // border-style: solid dashed solid dashed;
  border-top: solid 5px;
  border-bottom: solid 5px;
  border-left: dashed 6px;
  border-right: dashed 6px;
  border-color: black;
  padding: 10px 12px 10px 12px;
  vertical-align: middle;
  font-family: 'Raleway', sans-serif;
}

#navbar-title:hover {
  color: #EDAF2C;
}

.navbar-left {
  float: left;
  text-align: right;
}

.navbar-right {
  float: right;
  text-align: left;
}

// HEADER OVERLAY
.page-top-section {
  border: 1px solid red;
  height: 350px;
  // position: absolute;
  top: 0;
  margin-top: 95px;
  a, a:visited {
    padding: 10px;
    border: 3px solid black;
    color: black;
  }
  a:hover {
    color: #EDAF2C;
  }
  h1 {
    text-align: center;
    vertical-align: middle;
    line-height: 350px;
    font-size: 32px;
    color: black;
    span {
      padding: 10px;
      border: 3px solid black;
    }
  }
}

#about-page-background {
  // background-image: url("playa_ride.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100% 70%;
}
#project-page-background {
  // background-image: url("white-brick-wall-tumblr2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 40%;
}
#contact-page-background {
  // background-image: url("8842.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 40%;
}

#resume-page-background img {
  height: 900px;
  margin-bottom: 100px;
  margin-left: 25%;
}

.project-card {
  float: left;
  // border: 2px solid black;
  margin-left: 20px;
  margin-top: 40px;
  height: 400px;
  position: relative;
  box-shadow: 10px 10px 5px grey;
}

.project-card-top {
  top: 0;
  height: 75%;
  color: white;
  margin-left: 10px;
  h2 {
    font-size: 22px;
    color: #EDAF2C;
  }
}

.project-card-bottom {
  bottom: 0;
  height: 25%;
  color: white;
  margin-left: 10px;
  a {
    color: #EDAF2C;
    font-size: 18px;
    width: 50%;
    float: left;
    text-align: center;
  }
  a:hover {
    color: white;
  }
}

.project-card img {
  display: block;
  height: 100%;
  width: 100%;
}

.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}
.project-card:hover .card-overlay {
  opacity: 0.9;
}

.blog-container {
    width: 1200px;
    float: left;
    position: relative;
    left: 50%;
    margin-left: -600px;
    padding: 10px;
    border: 1px solid black;
}

.blog-container h1 {
    text-align: center;
    margin: 0;
}
.blog-post {
    position: relative;
    width: 100%;
    width: 350px;
    height: 350px;
    margin: 10px 0 0 10px;
    position: relative;
    // float: left;
    border: 1px solid red;
}

// .overlay {
//     position: absolute;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     color: #b5b5b5;
//     margin: 0;
//     padding: 20px;
//     background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
//     border: 1px solid blue;
// }

.post img {
  float: left;
  position: relative;
  width: 100%;
  width: 350px;
  height: 350px;
}
