@import "material";

/*NAVIGATION*/
.navbar {
  width: 100%;
}

.nav-layout-transparent {
 background: url('../images/IMG_2560.jpg') center / cover;
}

.mdl-layout__header-row .mdl-navigation__link {
  color: black;
}
