.curtain-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.curtain {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  top: 50%;
  text-align: center;
  z-index: 1001;
  color: #EDAF2C;
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  vertical-align: middle;
}

.curtain-wrapper .curtain-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    // background-image: url("white-brick-wall-tumblr.jpg");
    // background-image: url("contact-page-background2.jpg");
    // background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
    -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);  /* IE 9 */
    transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

.curtain-wrapper .curtain-section.section-left {
    left: 0;
}

.curtain-wrapper .curtain-section.section-right {
    right: 0;
}



/* revealed */
.revealed .curtain-wrapper .curtain-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.revealed .curtain-wrapper .curtain-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.revealed .curtain {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

.revealed .curtain-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(-100%);  /* IE 9 */
            transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;
            transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js .curtain-wrapper {
    display: none;
}
.no-js h1 {
  color: #EDAF2C;
}
