<footer class="col-12">
    <a href="https://github.com/kimberlywondo" target="_blank">
      <img class="social-link" src="/assets/github.svg" alt="GitHub" >
    </a>
    <a href="https://www.linkedin.com/in/kimberlywondo/" target="_blank">
      <img class="social-link" src="/assets/linkedin.svg" alt="LinkedIn">
    </a>
    <a href="http://codepen.io/kimberlywondo/" target="_blank">
      <img class="social-link" src="/assets/codepen.svg" alt="LinkedIn">
    </a>
<!-- TODO add button sizing to css-->

    <!-- <a href="#top">Top</a>
    <!-- TODO -->

<!-- <div>&copy; 2017 Kimberly Wondoloski</div> -->
</footer>
